<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit {{task.title}}</title>
    </head>
    <body>
        
        <div style="display: grid; place-items: center">
            
            <header>
                <h1>Edit {{task.title}}</h1>
            </header>

            <form action="/edit/{{task.id}}/" method="post">
                {% csrf_token %}
                <input type="text" name="title" value="{{task.title}}">
                <input type="submit" value="Edit task">
            </form>
        </div>

    </body>
</html>